<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kemas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- Permisos para la Aplicación -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

        <!-- Menu Principal -->
        <activity
            android:name="com.kemas.activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Configuracion de la conexión con el servidor de OpenERP -->
        <activity
            android:name="com.kemas.activities.ConnectionActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/activity_connection_title" >
            <intent-filter>
                <action android:name="com.kemas.activities.ConnectionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Detalle de un registro de cambio de puntaje -->
        <activity
            android:name="com.kemas.activities.PointsDetailActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/activity_connection_title" >
            <intent-filter>
                <action android:name="com.kemas.activities.PointsDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>